<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>
    <% if @service.thumbnail.attached? && @service.thumbnail.record.img_url %>
      <%= image_tag(@service.thumbnail, height: 150) %>
    Change Photo
    <% else %>
    <div class="row">
      <div class="col-4">
        <%= image_tag("placeholder.png", height: 150, width: 300, class: "image-placeholder") %>
      </div>
      <div class="col-8 mt-auto">
        <div class="secondary-link">Add Photo</div>
        <p>Please add a headshot or a company logo.
         Or leave this blank and we will add a stock photo for you.</p>
      </div>
    </div>
    
    <% end %>
      <span style="display:none">
        <%= form.file_field :thumbnail, accept: 'image/png,image/jpeg' %>
      </span>
    </label>
  </div>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Service Title (What do you offer?)", class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :subtitle, placeholder: "Service Subtitle (Tell us in one sentence what you do for new moms)", class: "form-control", required: true  %>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= form.number_field :price, placeholder: "Price", :step => 0.01, class: "form-control", required: true %>
    </div>

    <div class="form-group col">
      <%= form.collection_select :service_category_id, ServiceCategory.all, :id, :name, {prompt: "Category"}, {class: "form-control mt-0"}%>
    </div>
  </div>

  <div class="form-group">
    <%= form.text_area :description, placeholder: "Description:\nHere is your chance to tell new parents and their friends and families why your service is the perfect gift for them as they prepare for their new baby.", rows: "8", class: "form-control", required: true %>
  </div>

  <%= form.hidden_field :affiliate_id, value: current_affiliate.id %>

  <div class="row">
      <div class="col">
        <u><%= link_to 'Cancel', :back, class:"black-link" %></u>
      </div>
      <div class="col text-right">
          <div class="actions">
              <%= form.submit action_name == 'new' ? 'Submit Service' : 'Save Changes', class: "btn btn-primary btn-sm" %>
          </div>
      </div>
  </div>

<% end %>
 
 <script>
  function loadPreview(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
        reader.onload = function (e) {
          $('.image-placeholder').attr('src', e.target.result);
          $('.image-placeholder').removeAttr('width');
        }
      
      reader.readAsDataURL(input.files[0]);
    } 
  }

  $("#service_thumbnail").change(function(){
    loadPreview(this);
  });
 </script>