<div class="container">
  <div class="page-header text-center">
    <h2>CREATE YOUR REGISTRY</h2>
  </div>
  <div class="row pt-5">
    <div class="col">
        <h5>TELL US ABOUT YOUR PARTY</h5>
    </div>
    <div class="col text-right">
      <p>3 of 5</p>
    </div>
  </div>
  <br>
  <%= form_for @registry, url: wizard_path do |form| %>
    <div class="form-row">
      <div class="form-group col">
        <%= form.select :shower_or_sprinkle, [['Shower', 0], ['Sprinkle', 1]], {include_blank: "Type of Party"}, {class: 'form-control'}  %>
      </div>

      <div class="form-group col">
        <%= form.text_field :shower_date,
            data: { provide: "datepicker", 
            'date-format': 'mm/dd/yyyy', 
            'date-today-highlight': 'true', 
            'date-autoclose': 'true'}, 
            placeholder: "Date of Party", class: "datepicker form-control" %>
      </div>
    </div>

    <div class="field">
      <%= form.check_box :cards_ordered%>
      <%= form.label "Order Registry Cards" %>
    </div>

    <br><br>

     <div class="form-row">
      <div class="form-group col">
        <%= link_to "< Back", new_registry_path %>
      </div>

      <div class="form-group col">
        <div class="actions">
        <%= form.submit "Next", class: "btn btn-primary btn-sm" %>
        </div>
      </div>

    </div>
  <% end %>

</div>
