<div class="container">
  <div class="page-header text-center">
    <h2>CREATE YOUR REGISTRY</h2>
  </div>

  <div class="row pt-5">
    <div class="col">
        <h5>Tell us about yourself</h5>
    </div>
    <div class="col text-right">
      <p>3 of 5</p>
    </div>
  </div>

  <%= form_for @registry, url: wizard_path do |form| %>
    <div class="form-row">
      <div class="form-group col">
        <%= form.label :shower_or_sprinkle %>
        <%= form.select :shower_or_sprinkle, [['Shower', 0], ['Sprinkle', 1]], :include_blank => true %>
      </div>

      <div class="form-group col">
        <%= form.label "Date of Party" %>
        <%= form.date_field :shower_date, placeholder: "Date of Party", autofocus: true, min: 2.week.from_now, max: 10.month.from_now %>
      </div>
    </div>

    <div class="field">
      <%= form.check_box :cards_ordered%>
      <%= form.label "Order Registry Cards" %>
    </div>

    <br><br>

     <div class="form-row">
      <div class="form-group col">
        <%= link_to "< Back", new_registry_path %>
      </div>

      <div class="form-group col">
        <div class="actions">
        <%= form.submit "Continue", class: "btn btn-primary btn-sm" %>
        </div>
      </div>

    </div>
  <% end %>

</div>