<div class="container">
  <div class="page-header text-center">
    <h2>CREATE YOUR REGISTRY</h2>
  </div>

  <div class="row pt-5">
    <div class="col">
        <h5>PAYMENT INFO</h5>
        <br>
        <p>Please select how you would like to recieve payment for your gifts</p>
        <br>
    </div>
    <div class="col text-right">
      <p>5 of 5</p>
    </div>
  </div>

  <%= form_for @registry, url: wizard_path do |form| %>
    <div class="field">
      <%= form.check_box :accepts_check %>
      <%= form.label "Cash/Check off the site ⊕" %>
    </div>

    <div class="field">
      <%= form.check_box :accepts_wepay %>
      <%= form.label "wePay ⊕" %>
    </div>

    <br><br>

     <div class="form-row">
      <div class="form-group col">
        <%= link_to "< Back", previous_wizard_path %>
      </div>

      <div class="form-group col">
        <div class="actions">
        <%= form.submit "Next", class: "btn btn-primary btn-sm" %>
        </div>
      </div>

    </div>
  <% end %>

</div>
