<div class="container">
  <div class="page-header text-center mt-5">
    <h2>BECOME AN AFFILIATE</h2>
  </div>

  <div class="row pt-5 align-items-end">
    <div class="col">
        <h5>CONTACT INFO</h5>
        <p>(use business address so customers can find you by location!)</p>
    </div>
    <div class="col text-right">
      <p><%= @current_step_number %>  of <%= @step_total %></p>
    </div>
  </div>

  <%= form_for(@affiliate, url: wizard_path, method: :put) do |f| %>

      <%= f.fields_for :address do |a| %>
        <div class="form-group">
          <%= a.text_field :street_address, autofocus: true, placeholder: "Address", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= a.text_field :address_line2, placeholder: "Apartment, Suite, etc", class: "form-control" %>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <%= a.text_field :city, placeholder: "City", class: "form-control" %>
          </div>

          <div class="form-group col">
            <%= a.select :state, @states, {prompt: "State"}, {class: "form-control mt-0"} %>
          </div>

          <div class="form-group col">
            <%= a.text_field :zip_code, placeholder: "Zip code", class: "form-control" %>
          </div>
        </div>

      <% end %>

    <div class="form-row">
      <div class="form-group col">
        <%= f.text_field :phone, placeholder: "Phone Number", class: "form-control" %>
      </div>

      <div class="form-group col">
        <%= f.text_field :website, placeholder: "Website", class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Next", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>

</div>
