<%= content_for :header do %>
  <script src="https://js.stripe.com/v3/" data-turbolinks-eval="false"></script>
<% end %>

<div class="container">
    <div class="page-header text-center my">
        <h2>BECOME AN AFFILIATE</h2>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Terms and Conditions</h5>
            </div>
            <div class="col text-right">
                <%= @current_step_number %>  of <%= @step_total %>
            </div>
        </div>
        
        <div class="pre-scrollable terms_and_conditions border">
            <%= @terms_and_conditions %>
        </div>
        
        <%= form_for(@affiliate, url: wizard_path, method: :put) do |f| %>
            <%= f.label :contract_signed do %>
                <%= f.check_box :contract_signed %> I agree to the terms and conditions
            <% end %>

            <div class="row">
                <div class="col">
                    <%= fa_icon "chevron-left xs" %> <%= link_to "Back", previous_wizard_path %>
                </div>
                <div class="col text-right">
                    <div class="actions">
                        <%= f.submit "Next", class: "btn btn-primary btn-sm" %>
                        <div data-stripe="<%= @stripe_session.id %>">
                            <%= link_to '$$$$$', '', class: 'subscribe-btn', remote: true %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>


    </div>
    
</div>

<script> 
  const subscribeBtn = document.querySelector('.subscribe-btn')

  subscribeBtn.addEventListener('click', e => {
    e.preventDefault()

    const CHECKOUT_SESSION_ID = subscribeBtn.parentElement.dataset.stripe
    var stripe = Stripe('<%= Rails.application.credentials.stripe[Rails.env.to_sym][:public_key] %>');

    stripe.redirectToCheckout({
      sessionId: CHECKOUT_SESSION_ID
    }).then((result) => {
      // handle any result data you might need
      console.log(result.error.message)
    })
  }); 
</script>