<!doctype html>
<html><!-- InstanceBegin template="/Templates/main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Be Her Village | It Takes A Village | Community</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="cache-control" content="no-cache">
    <meta name="description" content="It Takes A Village Raise A Child Community Healthy Safe Childern">
    <meta name="distribution" content="Global">
    <meta name="google-site-verification" content="" />
    <meta name="msvalidate.01" content="" />
    <meta name="document-distribution" content="Global">
    <meta name="document-rating" content="General">
    <meta name="document-rights" content="Copywritten work">
    <meta name="document-state" content="static">
    <meta name="keywords" content="Healthy Safe Childern">
    <meta name="mssmarttagspreventparsing" content="true">
    <meta name="publisher" content="https://www.behervillage.com/">
    <meta name="rating" content="General">
    <meta name="resource-type" content="document">
    <meta name="revisit-after" content="15 days">
    <meta name="Googlebot" content="index, follow">
    <meta name="Address" content="https://www.behervillage.com/">
    <meta name="language" content="english"/>
    <meta charset="utf-8"/>
<!-- InstanceEndEditable -->
<!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.--><script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="mainwrapper">
  <header> 
    <!--**************************************************************************
    Header starts here. It contains Logo and 3 navigation links. 
    ****************************************************************************-->
    <div id="logo"><a href="../index.html"><%=image_tag('articles/logo.png', size: "355x146", alt:"Be Her Village Logo")%></a>

	</div>
    <nav></nav>
  </header>
  <div id="content">
    <div class="notOnDesktop"> 
      <!-- This search box is displayed only in mobile and tablet laouts and not in desktop layouts -->
      <input type="text" placeholder="Search">
    </div>
    <section id="mainContent"> 
      <!--************************************************************************
    Main Blog content starts here
    ****************************************************************************-->
      <h1><!-- Blog title --><!-- InstanceBeginEditable name="title" -->IT TAKES A VILLAGE<!-- InstanceEndEditable --></h1>
      <h3><!-- Tagline --><!-- InstanceBeginEditable name="sub-title" -->To Raise A Child Is An African  Proverb<!-- InstanceEndEditable --></h3>
      <div id="bannerImage"><!-- InstanceBeginEditable name="image" --><%=image_tag('articles/it-takes-a-village.png', alt: "Woman Backs To Camera Arms Embraced")%><!-- InstanceEndEditable --></div>

      <!-- InstanceBeginEditable name="content" -->
      <p>&ldquo;It takes a village to raise a child&rdquo; is an African proverb  that means an entire community must come together to interact with a child for  it to experience and grow in a healthy, safe environment. In many cultures, a  community of people is accustomed to parenting their community. If the whole  community takes control of the child, we are destined to have help throughout  the child&rsquo;s life — the importance of community is an integral part of  everyone&rsquo;s lives. As people, we should strive to make our communities the best  place possible for our children and ourselves. The sense of community goes  beyond just the area that we live in; it takes supporting other people in your  area and building a safe space for your loved ones to interact in. </p>
      <p>When in a community, we often forget to look out for the  caretakers of the city, especially mothers of children. The spine behind a  community is influential leaders, and sometimes we need to check up on the  leaders as well. Be Her Village is helping support the backbone of society in  our modern world. With today&rsquo;s technology, we are more connected than ever  online. Through social media and online resources, it is easy to find things  new mothers need; however, it is not easy to trust what we see online. By  creating a space that allows new mothers to interact with experiences mothers,  a sense of a supportive community can be created. </p>
      <p>In ancient societies, communities looked after each other  when needed, in modern society we live in it seems that people are a bit more  closed off. At Be Her Village, we are trying to shape a new modern community  that is emerging for new mothers and their children. Building a community for  not only children, but mothers to be supported helps raise great children.</p>
      <!-- InstanceEndEditable -->
      <aside id="authorInfo"> 
        <!-- The author information is contained here -->
        <h2><!-- InstanceBeginEditable name="author" --><!-- InstanceEndEditable --></h2>
        <!-- InstanceBeginEditable name="author-text" -->
        <p>&nbsp;</p>
        <!-- InstanceEndEditable --></aside>
    </section>
    <section id="sidebar"> 
      <!--************************************************************************
    Sidebar starts here. It contains a searchbox, sample ad image and 6 links
    ****************************************************************************-->
      <div id="adimage"><!-- InstanceBeginEditable name="image2" --><!-- InstanceEndEditable --></div>
      <nav><a href="#" title="Link"></a>
        <ul>
          <li><a href="doula-support.html" title="Link">The Doula-Mother Relationship </a></li>
          <li><a href="be-her-village.html" title="Link">It Takes A Village To Raise A Child</a></li>
          <li><a href="yoga-pregnancy.html" title="Link">Yoga During Pregnancy</a></li>
        </ul>
      </nav>
    </section>
    <footer> 
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>CONTACT US</h3>
        <p>Be Her Village, Inc.<br>
          BeHerVillage.com<br>
        516.286.0741</p>
        <p><a href="mailto:kaitlin@behervillage.com">Email us</a></p>
        <table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="243">
          <!-- fwtable fwsrc="Untitled" fwpage="Page 1" fwbase="icons.png" fwstyle="Dreamweaver" fwdocid = "737619139" fwnested="0" -->
          <tr>
            <td><a href="https://www.facebook.com/behervillage/" target="_blank"><%=image_tag('articles/social/icons_r1_c1.png', size: "52x49", name:"icons_r1_c1", id:"icons_r1_c11", alt:"Facebook Page Be Her Village")%></a></td>
            <td><%=image_tag('articles/social/icons_r1_c2.png', size:"48x49", name:"icons_r1_c2", id:"icons_r1_c12", alt:"Be Her Village Blogger")%></td>
            <td><a href="https://www.instagram.com" target="_blank"><%=image_tag('articles/social/icons_r1_c3.png', size:"47x49", name:"icons_r1_c3", id:"icons_r1_c13", alt:"Instagram Be Her Village")%></a></td>
            <td><a href="https://twitter.com/home" target="_blank"><%=image_tag('articles/social/icons_r1_c4.png', size:"48x49", name:"icons_r1_c4", id:"icons_r1_c14", alt:"Twitter Be Her Village")%></a></td>
            <td><a href="https://behervillageblog.wordpress.com/" target="_blank"><%=image_tag('articles/social/icons_r1_c5', size:"48x49", name:"icons_r1_c5", id:"icons_r1_c15", alth:"Be Her Village WordPress Blog")%></a></td>
            <td><%=image_tag('articles/social/spacer.gif', size: "1x49", alt:"")%></td>
          </tr>
        </table>
        <p>Al Rights Reserved 2019</p>
      </article>
      <article>
        <p>&nbsp;</p>
      </article>
    </footer>
  </div>
  <div id="footerbar"><!-- Small footerbar at the bottom --></div>
</div>
</body>
<!-- InstanceEnd --></html>
