<!doctype html>
<html><!-- InstanceBegin template="/Templates/main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Be Her Village | Doula Support | Childbirth</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="cache-control" content="no-cache">
    <meta name="description" content="Professional Doula Support Childbirth">
    <meta name="distribution" content="Global">
    <meta name="google-site-verification" content="" />
    <meta name="msvalidate.01" content="" />
    <meta name="document-distribution" content="Global">
    <meta name="document-rating" content="General">
    <meta name="document-rights" content="Copywritten work">
    <meta name="document-state" content="static">
    <meta name="keywords" content="Professional Doula Support">
    <meta name="mssmarttagspreventparsing" content="true">
    <meta name="publisher" content="https://www.behervillage.com/">
    <meta name="rating" content="General">
    <meta name="resource-type" content="document">
    <meta name="revisit-after" content="15 days">
    <meta name="Googlebot" content="index, follow">
    <meta name="Address" content="https://www.behervillage.com/">
    <meta name="language" content="english"/>
    <meta charset="utf-8"/>
<!-- InstanceEndEditable -->
<!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.--><script>var __adobewebfontsappname__="dreamweaver"</script><script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js" type="text/javascript"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div id="mainwrapper">
  <header> 
    <!--**************************************************************************
    Header starts here. It contains Logo and 3 navigation links. 
    ****************************************************************************-->
    <div id="logo"><a href="../index.html"><%=image_tag('articles/logo.png', size: "355x146", alt:"Be Her Village Logo")%></a>
	<!-- <img src="logoImage.png" alt="sample logo"> --><!-- Company Logo text --></div>
    <nav></nav>
  </header>
  <div id="content">
    <div class="notOnDesktop"> 
      <!-- This search box is displayed only in mobile and tablet laouts and not in desktop layouts -->
      <input type="text" placeholder="Search">
    </div>
    <section id="mainContent"> 
      <!--************************************************************************
    Main Blog content starts here
    ****************************************************************************-->
      <h1><!-- Blog title --><!-- InstanceBeginEditable name="title" -->DOULA SUPPORT<!-- InstanceEndEditable --></h1>
      <h3><!-- Tagline --><!-- InstanceBeginEditable name="sub-title" -->Doula-Mother Relationship Helps<!-- InstanceEndEditable --></h3>
      <div id="bannerImage"><!-- InstanceBeginEditable name="image" --><%=image_tag("articles/doula-support.png", alt:"Doula Assisting Pergnant Woman")%><!-- InstanceEndEditable --></div>
      <!-- InstanceBeginEditable name="content" -->
      <p>Becoming  pregnant for the first time is a joyous yet scary time in a women's life. The  scariest part is the idea of the unknown, and not knowing what to expect when  experiencing childbirth on your own. In this journey of motherhood, it is essential  to listen to other mothers who have been through the journey of childbearing,  delivery, and everything after. Building this sense of community is critical to  support new mothers who have no clue about their incredible journey ahead!</p>
      <p>As a new mother, the scariest thing itself is  getting through childbirth. In our world today, women are given many options of  how to deliver their baby. Often it may become overwhelming or confusing to  choose which one is best for you. When exploring the possibilities of  childbirth, listen to the stories of others, and research what seems fitting  for you. For those seeking guidance in their pregnancy journey an excellent  choice for first-time mothers that need assistance is hiring a doula. A doula  is a trained professional in childbirth who helps provide a safe and memorable  birthing experience. Not only do the doulas assist in the childbirth  experience, but they help way before that. </p>
      <p>The doula-mother relationship has helped many  new mothers get through the unknown that often first-time mothers fear. Once a  doula is hired, a connection between the two is created, and the doula is there  for any support needed. Whether that be questions, concerns, or helping create  a birthing plan for the mothers. Through studies, it is shown that doulas  decrease the overall length of labor by 25% and use of epidural by 60%. This  shows the effectiveness of alternative birthing methods and the support of a  doula. A doula is there to support the mother's needs before, during, and after  childbirth for the best experience possible. </p>
      <p>&nbsp;</p>
      <!-- InstanceEndEditable -->
      <aside id="authorInfo"> 
        <!-- The author information is contained here -->
        <h2><!-- InstanceBeginEditable name="author" --><!-- InstanceEndEditable --></h2>
        <!-- InstanceBeginEditable name="author-text" -->
        <p>&nbsp;</p>
        <!-- InstanceEndEditable --></aside>
    </section>
    <section id="sidebar"> 
      <!--************************************************************************
    Sidebar starts here. It contains a searchbox, sample ad image and 6 links
    ****************************************************************************-->
      <div id="adimage"><!-- InstanceBeginEditable name="image2" --><!-- InstanceEndEditable --></div>
      <nav><a href="#" title="Link"></a>
        <ul>
          <li><a href="doula-support.html" title="Link">The Doula-Mother Relationship </a></li>
          <li><a href="be-her-village.html" title="Link">It Takes A Village To Raise A Child</a></li>
          <li><a href="yoga-pregnancy.html" title="Link">Yoga During Pregnancy</a></li>
        </ul>
      </nav>
    </section>
    <footer> 
      <!--************************************************************************
    Footer starts here
    ****************************************************************************-->
      <article>
        <h3>CONTACT US</h3>
        <p>Be Her Village, Inc.<br>
          BeHerVillage.com<br>
        516.286.0741</p>
        <p><a href="mailto:kaitlin@behervillage.com">Email us</a></p>
        <table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="243">
          <!-- fwtable fwsrc="Untitled" fwpage="Page 1" fwbase="icons.png" fwstyle="Dreamweaver" fwdocid = "737619139" fwnested="0" -->
          <tr>
            <td><a href="https://www.facebook.com/behervillage/" target="_blank"><%=image_tag('articles/social/icons_r1_c1.png', size: "52x49", name:"icons_r1_c1", id:"icons_r1_c11", alt:"Facebook Page Be Her Village")%></a></td>
            <td><%=image_tag('articles/social/icons_r1_c2.png', size:"48x49", name:"icons_r1_c2", id:"icons_r1_c12", alt:"Be Her Village Blogger")%></td>
            <td><a href="https://www.instagram.com" target="_blank"><%=image_tag('articles/social/icons_r1_c3.png', size:"47x49", name:"icons_r1_c3", id:"icons_r1_c13", alt:"Instagram Be Her Village")%></a></td>
            <td><a href="https://twitter.com/home" target="_blank"><%=image_tag('articles/social/icons_r1_c4.png', size:"48x49", name:"icons_r1_c4", id:"icons_r1_c14", alt:"Twitter Be Her Village")%></a></td>
            <td><a href="https://behervillageblog.wordpress.com/" target="_blank"><%=image_tag('articles/social/icons_r1_c5', size:"48x49", name:"icons_r1_c5", id:"icons_r1_c15", alth:"Be Her Village WordPress Blog")%></a></td>
            <td><%=image_tag('articles/social/spacer.gif', size: "1x49", alt:"")%></td>
          </tr>
        </table>
        <p>Al Rights Reserved 2019</p>
      </article>
      <article>
        <p>&nbsp;</p>
      </article>
    </footer>
  </div>
  <div id="footerbar"><!-- Small footerbar at the bottom --></div>
</div>
</body>
<!-- InstanceEnd --></html>
