    <!-- FAQ -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" data-toggle="collapse" data-target="#faq-<%= faq_number %>"
        aria-expanded="false" aria-controls="faq-<%= faq_number %>">
        <%= faq_title %>
      </a>
      <a class="btn btn-lg btn-faq btn-icon" data-toggle="collapse" data-target="#faq-<%= faq_number %>" aria-expanded="false"
        aria-controls="faq-<%= faq_number %>">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-<%= faq_number %>">
      <div class="card card-body card-faq">
        <%== faq_text %>
      </div>
    </div>