<div class="container">
  <div class="col">
    <h1 class="mt-5 mb-3">FREQUENTLY ASKED QUESTIONS</h1>
    
    <!-- FAQ 01 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-01"
        aria-expanded="false" aria-controls="faq-01">
        01 - FAQ 1
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-01" aria-expanded="false"
        aria-controls="faq-01">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-01">
      <div class="card card-body card-faq">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
    
    <!-- FAQ 02 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-02"
        aria-expanded="false" aria-controls="faq-02">
        02 - FAQ 2
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-02" aria-expanded="false"
        aria-controls="faq-02">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-02">
      <div class="card card-body card-faq">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae quam iusto quidem voluptas distinctio? Tempore id iusto quidem at vitae fugit nisi aspernatur omnis animi!
      </div>
    </div>
    
    <!-- FAQ 03 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-03"
        aria-expanded="false" aria-controls="faq-03">
        03 - FAQ 3
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-03" aria-expanded="false"
        aria-controls="faq-03">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-03">
      <div class="card card-body card-faq">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim temporibus reiciendis exercitationem voluptates recusandae facilis doloribus sunt iure, vitae minus inventore nostrum maxime unde dignissimos blanditiis beatae repudiandae quasi consequatur quam ipsam fugit tempora. Nam distinctio corporis aliquam sit cupiditate blanditiis odit, iure at possimus, illum aperiam eveniet tenetur voluptas!
      </div>
    </div>
    
    <!-- FAQ 04 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-04"
        aria-expanded="false" aria-controls="faq-04">
        04 - FAQ 4
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-04" aria-expanded="false"
        aria-controls="faq-04">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-04">
      <div class="card card-body card-faq">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laborum debitis porro atque ab tempore numquam accusamus, maiores dignissimos iure quaerat ut est veniam vero voluptatum cupiditate, voluptates dolor eius esse culpa aut nemo optio?
      </div>
    </div>
    
    <!-- FAQ 05 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-05"
        aria-expanded="false" aria-controls="faq-05">
        05 - FAQ 5
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-05" aria-expanded="false"
        aria-controls="faq-05">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-05">
      <div class="card card-body card-faq">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione libero magnam culpa. Deleniti, illo aspernatur.
      </div>
    </div>
    
    <!-- FAQ 06 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-06"
        aria-expanded="false" aria-controls="faq-06">
        06 - FAQ 6
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-06" aria-expanded="false"
        aria-controls="faq-06">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-06">
      <div class="card card-body card-faq">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores at adipisci placeat vitae ab atque explicabo ut illum impedit, id quos, amet quia ducimus officia?
      </div>
    </div>
    
    <!-- FAQ 07 -->
    <div class="d-flex justify-content-between" id="faqs">
      <a class="btn btn-lg btn-faq pl-0" type="button" data-toggle="collapse" data-target="#faq-07"
        aria-expanded="false" aria-controls="faq-07">
        07 - FAQ 7
      </a>
      <a class="btn btn-lg btn-faq btn-icon" type="button" data-toggle="collapse" data-target="#faq-07" aria-expanded="false"
        aria-controls="faq-07">
        <%= fa_icon "chevron-right", class: "btn-faq" %>
      </a>
    </div>
    <div class="collapse" id="faq-07">
      <div class="card card-body card-faq">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum aliquid, perferendis perspiciatis error veniam rem nobis, quia ut nihil optio voluptate illo aspernatur at nostrum eum obcaecati hic delectus!
      </div>
    </div>

  </div>
</div>
