<div class="container">
  <div class="col">
    <h1 class="mt-5 mb-3">FREQUENTLY ASKED QUESTIONS</h1>
    
    <!-- FAQ 01 -->
    <%= render partial: 'faq', :locals => {:faq_number => 1, :faq_text => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, excepturi. Reiciendis aliquid neque quaerat ea fugit, porro reprehenderit quidem alias, molestiae ex praesentium aspernatur eligendi.'} %>

    <!-- FAQ 01 -->
    <%= render partial: 'faq', :locals => {:faq_number => 2, :faq_text => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non cupiditate eius nostrum, ipsa laboriosam animi.'} %>
    
    <!-- FAQ 02 -->
    <%= render partial: 'faq', :locals => {:faq_number => 3, :faq_text => 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sunt voluptate rem asperiores et voluptas sapiente repudiandae optio, consectetur exercitationem velit tempore distinctio quaerat ut in fuga expedita quibusdam at reiciendis inventore enim maiores ratione! Deserunt reiciendis quaerat exercitationem soluta?'} %>
    
    <!-- FAQ 04 -->
    <%= render partial: 'faq', :locals => {:faq_number => 4, :faq_text => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, excepturi. Reiciendis aliquid neque quaerat ea fugit, porro reprehenderit quidem alias, molestiae ex praesentium aspernatur eligendi.'} %>
    
    <!-- FAQ 05 -->
    <%= render partial: 'faq', :locals => {:faq_number => 5, :faq_text => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non cupiditate eius nostrum, ipsa laboriosam animi.'} %>
    
    <!-- FAQ 06 -->
    <%= render partial: 'faq', :locals => {:faq_number => 6, :faq_text => 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia sunt voluptate rem asperiores et voluptas sapiente repudiandae optio, consectetur exercitationem velit tempore distinctio quaerat ut in fuga expedita quibusdam at reiciendis inventore enim maiores ratione! Deserunt reiciendis quaerat exercitationem soluta?'} %>
    
    <!-- FAQ 07 -->
    <%= render partial: 'faq', :locals => {:faq_number => 7, :faq_text => 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non cupiditate eius nostrum, ipsa laboriosam animi.'} %>


  </div>
</div>
