<div class="container">
  <div class="col">
    <h1 class="mt-5 mb-3">FREQUENTLY ASKED QUESTIONS</h1>
    
    <!-- FAQ 01 -->
    <%= render partial: 'faq', :locals => {:faq_number => 1, :faq_title => "What is Be Her Village?", :faq_text => "We are a groundbreaking new gift registry platform for services. Because let's face it: no one needs more stuff. Instead of being gifted thousands of dollars of expensive baby items (42 newborn-size onesies anyone?) we’re helping new moms get what they really need: your support! "} %>

    <!-- FAQ 01 -->
    <%= render partial: 'faq', :locals => {:faq_number => 2, :faq_title => "What’s in it for me?", :faq_text => "When you partner with Be Her Village your services are seen by thousands of parents-to-be who understand why they need to hire you. While you focus on deepening your practice we ensure you have a steady stream of new clients. <br><br>Be Her Village is the bridge between growing families who need support and businesses that provide it. We’re dramatically expanding the market for services like yours by educating new parents (who may have never heard of your profession) about why they need you. What are you waiting for? #{link_to 'Start growing', subdomain_root_path} your practice today."} %>
    
    <!-- FAQ 02 -->
    <%= render partial: 'faq', :locals => {:faq_number => 3, :faq_title => "How does it work?", :faq_text => "It’s simple: We connect parents-to-be with businesses like yours that can make their passage into parenthood better. We educate new parents on why your services (that many may have never known about otherwise) are a crucial part of having a calm and confident transition into parenthood. Once they add the services they want to their registry their friends and family are free to gift them these services using our unique cash registry. The gifted funds go directly to the new parents, who contact you off-site for your services. Your business grows and new moms everywhere are gifted exactly what they need (and deserve)."} %>
    
    <!-- FAQ 04 -->
    <%= render partial: 'faq', :locals => {:faq_number => 4, :faq_title => "How does a cash registry work?", :faq_text => "When new families are gifted services from their registry they will receive the gifted funds directly into their account. They contact you off-site for your top notch services and you keep 100% of your fee! You get to grow your business and keep all of your profits. It's the best of both worlds: ultimate flexibility for new families and complete freedom for business owners."} %>
    
    <!-- FAQ 05 -->
    <%= render partial: 'faq', :locals => {:faq_number => 5, :faq_title => "How do I get my business listed on Be Her Village?", :faq_text => "Sign up to partner with us #{link_to 'here', subdomain_root_path} and your business will be listed on Be Her Village.  Hundreds of new families will see your services as they use our registry guide and create their perfect registry. You get a custom business profile with all your contact information as well as the services you choose to list."} %>
    
    <!-- FAQ 06 -->
    <%= render partial: 'faq', :locals => {:faq_number => 6, :faq_title => "How do I create a profile?", :faq_text => "When you #{link_to 'sign up', subdomain_root_path} to partner with Be Her Village you will be taken right to your profile where you can put all of your information for new families to see. Add services so that new families can add them to their registry!"} %>
    
    <!-- FAQ 07 -->
    <%= render partial: 'faq', :locals => {:faq_number => 7, :faq_title => "I need help creating my services.", :faq_text => "Need help creating a custom service? We curate and review every service and will work with you to make sure you are standing out in the crowd. Once you submit your service it will automatically be sent to our team. If you need help coming up with a service to list send us a #{mail_to 'support@behervillage.com', 'message'}.  We are here for you."} %>

    <!-- FAQ 08 -->
    <%= render partial: 'faq', :locals => {:faq_number => 8, :faq_title => "How much does it cost?", :faq_text => "Our plans start at less than a dollar a day. When you partner with Be Her Village you get exposure to new clients, an online presence, marketing materials, social media marketing, blog posts, email marketing and the entire Be Her Village team working to make your business grow and succeed! Not to mention you will be at the forefront of the next big thing in gift registries. Are you ready to invest in yourself and grow your business? Let's get #{link_to 'started', subdomain_root_path}!"} %>

    <!-- FAQ 09 -->
    <%= render partial: 'faq', :locals => {:faq_number => 9, :faq_title => "How else can I be involved?", :faq_text => "If you aren’t ready to make the investment in growing your business, or if you are at capacity and do not want to reach new families to work with there are still ways to be involved!  You can share Be Her Village with your current customers and they can create a custom registry listing for your services. There is no charge to you or your customer and it's a wonderful resource for you to offer your customers. Find out more by signing up #{link_to 'here', partner_free_path}. "} %>

    <!-- FAQ 10 -->
    <%= render partial: 'faq', :locals => {:faq_number => 10, :faq_title => "How do I get paid when someone purchases my services off of a registry?", :faq_text => "All of the fees for services that are bought on the registry are deposited directly into the registrant’s (new parent) bank account. The new family will contact and pay you for your services. Get ready to connect with a brand new market of growing families! "} %>

    <!-- FAQ 11 -->
    <%= render partial: 'faq', :locals => {:faq_number => 11, :faq_title => "Is Be Her Village taking a cut of my fee?", :faq_text => "Never! The beauty of our cash registry is that you get all of the exposure to new families, a better tool to get paid, and you keep 100% of your fee. With other websites you will give up to 20% of your fee to the platform simply for being listed. When you partner with Be Her Village you are keeping all of your profits. We’re here to help you launch your business to a new level of success!"} %>

    <!-- FAQ 12 -->
    <%= render partial: 'faq', :locals => {:faq_number => 12, :faq_title => "I want to join! Is my business eligible to partner with Be Her Village?", :faq_text => "We work with any business that serves growing families in pregnancy, birth, and parenthood. If that sounds like you then we want to partner with you! <br><br>In the future we will be partnering with select businesses that offer unique products for new parents. If this sounds like you and you want to be added to our wait list please reach out to us #{link_to 'here', partner_free_path}. "} %>

    <!-- FAQ 13 -->
    <%= render partial: 'faq', :locals => {:faq_number => 13, :faq_title => "I love this! How do I sell my product on Be Her Village?", :faq_text => "At this time we are focused on bringing high-quality services to new families. We plan to offer select high-quality products for parents and babies. If you would like to be added to our wait list please reach out to us #{link_to 'here', partner_free_path}."} %>

    <!-- FAQ 14 -->
    <%= render partial: 'faq', :locals => {:faq_number => 14, :faq_title => "This is a great idea! How do I share Be Her Village?", :faq_text => "We love when people spread the word about Be Her Village! You can share our website (BeHerVillage.com), or our social media links. You can sign up to receive Be Her Village stickers, flyers, and other materials #{link_to 'here', partner_free_path}.<br><br>When you decide to partner with us we will send you a Welcome Package with all the materials you need to spread the word about Be Her Village!"} %>

  </div>
</div>
<script>

$( document ).ready(function() {    
    var url = document.location.toString();
    if ( url.match('#') ) {
        var hash = url.split('#')[1];
        // expand the requested panel
       document.getElementById(hash).setAttribute('aria-expanded', 'true');
       $("#faq-" + hash).addClass("show"); 
    }
});
</script>
