<div class="container">
  <div class="page-header text-center">
    <h2>CREATE YOUR REGISTRY</h2>
  </div>

  <div class="row pt-5">
    <div class="col">
        <h5>Tell us about yourself</h5>
    </div>
    <div class="col text-right">
      <p>2 of 5</p>
    </div>
  </div>
  <br>
  <%= form_for @registry do |form| %>
    <div class="form-group">
      <%= form.text_field :due_date, 
        data: { provide: "datepicker", 
        'date-format': 'mm/dd/yyyy',
        'date-today-highlight': 'true', 
        'date-autoclose': 'true'},
        placeholder: "Due Date",
        class: "datepicker form-control"  %>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <%= form.select :num_child, (1..10), {include_blank: "# of Children"}, {class: 'form-control'} %>
     </div>
      <div class="form-group col">
        <%= form.select :child_number, (1..10), {include_blank: "Child Number"}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= form.select :gender, [['Male', 0], ['Female', 1]], {include_blank: "Gender"}, {class: 'form-control'} %>
    </div>

    <br><br>

     <div class="form-row">
      <div class="form-group col">
        <%= link_to "< Back", new_user_registration_path %>
      </div>

      <div class="form-group col">
        <div class="actions">
        <%= form.submit "Next", class: "btn btn-primary btn-sm" %>
        </div>
      </div>

    </div>
  <% end %>

</div>
