<div class="container registry">
  <div class="page-header text-center">
    <p class="registry-title">FIND A REGISTRY</p>
  </div>

  
  <%= form_for search_path	, method: :get, :html => { :id => "registry-search" } do |f| %>
    <div class="form-group">
      <p>
        <%= text_field_tag :q, params[:q], placeholder: 'Search by first and last name', class: "form-control", id: "search_box" %>
      </p>
    </div>
  <% end %>

 <ul>
  <% unless @registries.nil?  %>
    <% if @registries.empty? %>
      <h2>We could not find that name</h2>
    <% else %>
      <% @registries.each do |registry| %>
        <li>
          <h3>
            <%= registry.name %>
            <%= registry.due_date %>
            <%= link_to "Select Registry", registry_path(registry.slug) %>
          </h3>
        </li> 
      <% end %>
    <% end %>
  <% end %>
  </ul> 

</div>
