<p id="notice"><%= notice %></p>

<div class="container">
  <%# Registry Banner %>
  <div class="row justify-content-around">

    <div class="col-md mx-auto text-center">
        <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="<%= @registry.name %>" class="rounded">
    </div>

    <div class="col-md-8">
      <div class="row justify-content-center">
        
        <h1><strong><%= @registry.name %></strong></h1>
      </div>

      <div class="row justify-content-around">
        <h5>
          <strong>Expected Arrival Date:  </strong>
          <%= @registry.due_date.strftime("%A, %B %e, %Y") %>
        </h5>

        <h5>
          <strong>Shower Date:  </strong>
          <%= @registry.shower_date.strftime("%A, %B %e, %Y") %>
        </h5>
      </div>
    </div>
 
    <div class="col-md">
      <div class="row justify-content-around">
      <% if @registry.user_id == current_user.id %>
        <%# TODO: This is a temporary path.  Update once registry guide path is set %>
        <%= link_to "Registry Guide", registries_path, class: "btn btn-primary btn-dark-pink" %>
      <% end %>
      </div>
    </div>
  </div>

  <hr>

  <%# Buttons and dropdown %>
  <div class="col mb-5 mt-5">
    <div class="row mb-5 mr-1 d-flex flex-direction-row justify-content-end">
      <button class="btn btn-light btn-lg dropdown-toggle shadow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%# TODO: Add options %>
        Available
      </button>
    </div>
    <% if @registry.user_id == current_user.id %>
    <div class="row d-flex justify-content-md-around justify-content-center">
      <div>
      <%= link_to "Add Be Her Village Service", services_path, class: "btn btn-secondary btn-lg btn-block mb-3 p-3 btn-light shadow"%>
      </div>
      <div>
      <%= link_to "Add your own Custom Service", new_service_path, class: "btn btn-secondary btn-lg btn-block mb-3 p-3 btn-light shadow"%>
      </div>
    </div>
    <% end %>
  </div>

  <%# Services %>
  <div class="row justify-content-around">
    <%# Service Card %>
    <% @registry.registry_services.each do |rs|%>
      <%= render partial: 'service_card', :locals => {:rs => rs} %>
    <% end %>
  </div>

  <%= render partial: "layouts/footer" %>

</div>
