<p id="notice"><%= notice %></p>

<div class="container">
  <%# Registry Banner %>
  <div class="row justify-content-around">

    <div class="col-md mx-auto text-center">
        <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="<%= @registry.name %>" class="rounded">
    </div>

    <div class="col-md-8">
      <div class="row justify-content-center">
        <h1><strong><%= @registry.name %></strong></h1>
      </div>

      <div class="row justify-content-around">
        <h5>
          <strong>Expected Arrival Date:  </strong>
          <%= @registry.due_date.strftime("%A, %B %e, %Y") %>
        </h5>

        <h5>
          <strong>Shower Date:  </strong>
          <%= @registry.shower_date.strftime("%A, %B %e, %Y") %>
        </h5>
      </div>
    </div>
 
    <div class="col-md">
      <div class="row justify-content-around">
        <a href="#" class="btn btn-secondary">Registry Guide</a>
      </div>
    </div>
  </div>

  <hr>

  <%# Buttons and dropdown %>
  <div class="col mb-5 mt-5 mx-auto p-0" style="width:67%">
    <div class="row mb-5 d-flex justify-content-end ">dropdown</div>
    <div class="row d-flex justify-content-lg-between justify-content-center">
      <%= link_to "Add Be Her Village Service", services_path, class: "btn btn-secondary mb-3 p-3"%>
      <%= link_to "Add your own Custom Service", new_service_path, class: "btn btn-secondary mb-3 p-3"%>
    </div>
  </div>

  <%# Services %>
  <div class="row justify-content-around">
    <%# Service Card %>
    <% 6.times do %>
    <div class="card mb-3 shadow" style="width: 18rem;">
      <img src="https://via.placeholder.com/300x200/" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-subtitle"><strong>Seamless</strong></h5>
        <p class="card-text">Meal services from example company name here</p>
        <h5 class="card-text"><strong>$49.99</strong></h5>
        <%# TODO: Set max and value dynamically once the services are pulling in %>
        <div class="row d-flex align-items-end">
          <div class="col d-flex align-items-end">
            <input class="mr-2" type="number" id="service_num" name="service_num" min="1" max="50" value="0">
            <label class="my-auto" for="service_num">Edit</label>
          </div>
          <div class="col d-flex align-items-end flex-column">
            <p class="my-auto">Requested: 1</p>
            <p class="my-auto">Still needs: 1</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    
  <% if false %>
    <!-- <ul>
    <% @registry.registry_services.each do |rs|%>
    <li>
    <%= rs.service.name %>
      <ul>
        <li> <strong>Increments Left: </strong> <%= rs.unpurchased_increments.count %> </li>
        <li> <strong>Increment Cost: </strong> <%= rs.unpurchased_increments.first.price %> </li>
        <li> 
        <%= form_with model: LineItem.new do |f|%>
          <p>
          <%= f.label "Number of Increments:"%>
          <%= f.number_field :quantity %>
          <%= f.hidden_field :registry_service_id, value: rs.id %>
          <%= f.submit "Add Increments to Cart" %>
          </p>
        <% end %>
        </li>
      </ul>
    </li>
    <% end %>
    </ul> --> <% end %>

  </div>

  <%= render partial: "layouts/footer" %>

  <hr>
  <div class="row">
    <%= link_to 'Edit', edit_registry_path(@registry) %> |
    <%= link_to 'Back', registries_path %>
  </div>
</div>

