<p id="notice"><%= notice %></p>

<%# Registry Banner %>
<img src="https://randomuser.me/api/portraits/women/1.jpg" alt="<%= @registry.name %>">

<p>
  <strong>Name:</strong>
  <%= @registry.name %>
</p>

<p>
  <strong>Expected Arrival Date:</strong>
  <%= @registry.due_date %>
</p>

<p>
  <strong>Shower Date:</strong>
  <%= @registry.shower_date %>
</p>

<%# Services %>
<p>
  <strong>Services:</strong>
  <ul>
  <% @registry.registry_services.each do |rs|%>
  <li>
  <%= rs.service.name %>
    <ul>
      <li> <strong>Increments Left: </strong> <%= rs.unpurchased_increments.count %> </li>
      <li> <strong>Increment Cost: </strong> <%= rs.unpurchased_increments.first.price %> </li>
      <li> 
      <%= form_with model: LineItem.new do |f|%>
        <p>
        <%= f.label "Number of Increments:"%>
        <%= f.number_field :quantity %>
        <%= f.hidden_field :registry_service_id, value: rs.id %>
        <%= f.submit "Add Increments to Cart" %>
        </p>
      <% end %>
      </li>
    </ul>
  </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>

<%= social_share_button_tag( @registry.name, desc: @registry.name) %>
