<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-12">
        <%=image_tag("affiliates/AffiliateHome.jpg", class:"cover-image", style: "background-image")%>
    </div>
   </div>
</div>

<div class="container">
    <div class="page-header">
        <h2 class="mb-3 mt-5">LET'S WORK TOGETHER</h2>
        <p>Be Her Village is partnering with businesses that serve growing families. Our platform gets your business in front of hundreds of new moms each month and helps them understand why they need your services.  Tap into a market full of new families looking for services just like yours and become the talk of the town. 
        </p>
        <p>What are you waiting for? Start growing your business today!
    </p>
    </div>
</div>

    <%= form_with url: :affiliate_select_plan, class: "mx-auto" do |f|  %>
    <div class="card-deck mb-3 d-flex justify-content-center text-center">
        <!-- Free Plan -->
        <div class="text-center mx-3">
            <div class="above-card">
                <h5 class="primary-header my-0"></h5>
            </div>
                <div class="card plan-card mb-4 mx-auto">
        
                    <div class="card-header plan-dark">
                        <h4 class="my-0 font-weight-bold">NAME</h4>
                    </div>
            
                    <div class="card-body flex-column d-flex text-center">
                        <div class="pricing-card-title plan-dark">
                            <h1 class="mb-0">FREE</h1>
                            <p class="my-0"><small>(yes really!)</small></p>
                        </div>
        
                        <ul class="text-left mt-3 mb-5">
                            <% ["Have your services added to any registry", "Offer clients a new tool to access funds for your services", "Grow your business with our platform", "Receive tips on attracting new customers in monthly emails", "Instant alerts when service is added to a registry", "Instant alert when service is purchased"].each do |detail|%>
                                <li><%= detail %></li>
                            <% end %>
                        </ul>
                        <div class="row mt-auto justify-content-center">
                            <%= link_to 'Select Plan', affiliate_free_path, class: "btn btn-block btn-outline plan-dark" %>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Paid Plans -->
        <% @plans.each_with_index do |plan, i| %>
        <div class="text-center mx-3">
            <div class="above-card">
                <h5 class="primary-header my-0"><%= plan[:recommended] ? "RECOMMENDED" : "" %></h5>
            </div>
            <div class="card plan-card mb-4 text-center mx-auto <%= plan[:recommended] ? "border-primary" : "" %>">
                <div class="card-header plan-dark">
                    <h4 class="my-0 font-weight-bold"><%=plan[:name].upcase%></h4>
                </div>
                
                <div class="card-body flex-column d-flex text-center ">
                    <div class="pricing-card-title plan-dark">
                        <h1 class="mb-0">$<%=plan[:cost]%></h1>
                        <p class="my-0"><small>/per month</small></p>
                        <p class="my-0"><small>Billed Yearly</small></p>
                    </div>
            
                    <ul class="text-left mt-3 mb-5">
                        <% plan[:details].each do |detail|%>
                            <li><%= detail %></li>
                        <% end %>
                    </ul>
                    <div class="row mt-auto justify-content-center">
                        <%= f.button 'Select Plan', value: plan[:name], class: "btn btn-block btn-outline plan-dark", type: 'submit' %> 
                    </div>
                </div>
            </div>
        </div>
        <% end %>
  
    </div>
    <% end %>
    <p class="text-center">Already a user? Sign in <%= link_to "here", new_affiliate_session_path %></p>
