<div class="test">
</div>

<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-12">
        <%=image_tag("affiliates/AffiliateHome.jpg", class:"img-fluid w-100", style: "background-image")%>
    </div>
   </div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">
    <div class="page-header">
        <h2 class="pb-3">LET'S WORK TOGETHER</h2>
        <p>Be Her Village is partnering with businesses that serve growing families. Our platform gets your business in front of hundreds of new moms each month and helps them understand why they need your services. We are offering access to an untapped market that service-based businesses are not currently reaching: baby shower gifts!
        </p>
        <p>What are you waiting for? Start growing your business today!
        </p>
    </div>
    
    <%= form_with url: :affiliate_select_plan do |f|  %>
    <div class="card-deck mb-3 mx-auto text-center">
        <% @plans.each_with_index do |plan, i| %>
            <div class="card mb-4 border-white text-center">
                <div class="card-header <%=plan[:class]%>">
                    <h4 class="my-0 font-weight-bold"><%=plan[:name].upcase%></h4>
                </div>
                
                <div class="card-body flex-column d-flex text-center ">
                    <div class="pricing-card-title <%=plan[:class]%>">
                        <h1 class="mb-0">$<%=plan[:cost]%></h1>
                        <small>per month</small>
                    </div>
                    <ul class="text-left mt-3 mb-5">
                        <% plan[:details].each do |detail|%>
                            <li><%= detail %></li>
                        <% end %>
                    </ul>
                    <div class="row mt-auto justify-content-center">
                        <%= f.button 'Select Plan', value: plan[:name], class: "btn btn-sm btn-block btn-outline #{plan[:class]}", type: 'submit' %> 
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% end %>
    <p class="text-center">Already a user? Sign in <%= link_to "here", new_affiliate_session_path %></p>
</div>