<% flash.each do |key, value| %>
  <div class="alert alert-success text-center">
    <a href="#" data-dismiss="alert" class="close">×</a>
          <%= value %>
  </div>
<% end %>

<div class="container">
    <div class="page-header my-5">
        <h2><%=@affiliate.business_name%> Profile</h2>
    </div>

    <div class="row">
        <div class="col-4 border-right">
            
            <%= button_to "Add Listing", new_service_path, method: "get", class: "btn btn-sm btn-primary" %>
            <p class="mt-1"><%= @affiliate.services.size%> of 3 listings active</p>

            <h5 class="font-weight-bold mt-5">ACCOUNT INFO <%=link_to("(edit)", edit_affiliate_registration_path(@affiliate), style: "font-weight: normal;font-size:smaller;")%> <h5>
            <% if @affiliate.full_name %>
                <p class="my-0"><%= @affiliate.full_name %></p>
            <% end %>
            <% if @affiliate.email %>
                <p class="my-0"><%= @affiliate.email %></p>
            <% end %>
            <% if @affiliate.address && !@affiliate.address["street_address"].blank? %>
                <p class="my-0"><%= @affiliate.address["street_address"] %></p>
                <p class="my-0"><%= "#{@affiliate.address["city"]}, #{@affiliate.address["state"]} #{@affiliate.address["zip_code"]}" %></p>
                <p class="my-0"><%= @affiliate.address["address_line2"] %></p>
            <% end %>
            <% if @affiliate.phone %>
                <p class="my-0"><%= @affiliate.phone %></p>
            <% end %>
            <% if @affiliate.website %>
                <p><%= link_to @affiliate.website, "http://#{@affiliate.website}", class: "secondary-link", target: "blank"%></p>
            <% end %>

            <h5 class="font-weight-bold mt-5">SETTINGS <%=link_to("(edit)", edit_affiliate_registration_path(@affiliate), style: "font-weight: normal;font-size:smaller;")%> <h5>

            <h6 class="mt-5"><u><%= link_to('Log Out', destroy_affiliate_session_path, method: :delete) %></u></h6>
        </div>
        <div class="col-8 text-center">
            <% if @affiliate.services.empty? %>
                <h2>Let's get started!</h2>
                <h6 class="mb-3">Add services to your profile so that new moms can add them to their registry. Once you submit them we will review your entry and notify you when it's live. What do you offer new moms and growing families?</h6>
                <%= button_to "Add Listing", new_service_path, method: "get", class: "btn btn-light" %>
            <% else %>
                <div class="container">
                    <% @affiliate.services.each do |service| %>
                    <div class="row">
                        <div class="col-6 text-left">
                            <% if service.thumbnail.attached? %>
                                <%= image_tag(service.thumbnail, height: 150) %>
                            <% end %>
                            <h4 class="font-weight-bold mt-4 mb-1"><%= service.name %></h4>
                            <p><%= service.subtitle %></p>
                            <h6 class="font-weight-bold mb-3"><%= number_to_currency(service.price) %></h6>
                            <h6 class="font-weight-bold mb-0">Description</h6>
                            <p class="mb-5"><%= service.description %></p>
                        </div>
                        <div class="col-6 text-left">
                            <%= link_to "Edit Listing", edit_service_path(service)%>
                        </div>
                    </div>
                    <% end %>
                </div>
                
            <% end %>
        </div>
    </div>
</div>