<div class="container">
    <div class="border-top my-3 border-dark"></div>
    <div class="row">
        <div class="col">
            <h4 class="footer-header">Be Her Village, Inc.</h4>
            <ul>
                <li><%= mail_to("hello@behervillage.com", "hello@behervillage.com", class:"black-link") %></li>
                <li><%= link_to "516 531 3548", "tel:516 531 3548", class: "black-link"%></li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer-header">Questions</h4>
            <ul>
                <li><%=link_to "FAQ", faq_path %></li>
            </ul>
        </div>
        <div class="col">
            <h4 class="footer-header">Partners</h4>
            <ul>
                <% if affiliate_signed_in? %>
                <li><%= link_to('Logout', destroy_affiliate_session_path, method: :get)%></li>
                <% else%>
                <li><%= link_to 'Sign Up', subdomain_root_path %></li>
                <li><%=link_to 'Log In', new_affiliate_session_path %></li>
                <%end%>
                
                <li><%= link_to('Logout', destroy_user_session_path, method: :get) if user_signed_in? %></li>
            </ul>
        </div>
        
        <div class="col">
            <p></p>
        </div>
    </div>
</div>

