<!DOCTYPE html>
<html>
  <head>
    <title>Be Her Village</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>


    <%= render 'layouts/header'%>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  <footer class="footer fixed-bottom">
  <%#= render 'layouts/footer'%>
  </footer>
</html>
